/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
web/public/img/brochure/Cirugia.png
web/public/img/pdf/fer.pdf
web/public/img/pdf/na.pdf
web/public/img/brochure/Cirugia2.png
web/public/img/brochure/fer.png
web/public/img/brochure/na.png
web/public/img/pdf/Cirugia2.pdf
*.xml
*.ids
