{% extends 'base2.html.twig' %}
{% block active1 %}active-menu{% endblock %}
{% block Header %}
    <div class="col-md-12">

    <ol class="breadcrumb">
        <li><a href="{{ path('director') }}">Inicio</a></li>
        <li class="active">Cambiar Contraseña</li>
    </ol>
    <h2>Cambiar Contraseña</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cambio de password
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Introduzca la nueva Contraseña</h3>

                            <form role="form" action="{{ path('cambiar_pass_director', {'id': app.user.idui}) }}" method="post" >
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="disabledSelect">Password</label>
                                        <input id="password" class="form-control" name="pass" type="password" required/>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="disabledSelect">Confirmar Password</label>
                                        <input id="confirm_password" class="form-control" type="password"/>
                                    </div>
                                </div>
                                <div class="col-md-12 col-md-offset-4">
                                    <button type="submit" style="width: 30%;" class="btn btn-primary">Guardar Cambio</button>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        var password = document.getElementById("password")
                , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords no coinciden!");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
{% endblock %}