{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block body %}
       <ol class="breadcrumb">
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Cosas</a></li>
              <li class="active">Mas...</li>
       </ol>
       <h2>Funciona esto Chelito</h2>

{% endblock %}
