{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('director') }}">Inicio</a></li>

        </ol>
        <h2>Bienvenido Tutor</h2>
    </div>
{% endblock %}
{% block body %}

{% endblock %}