{% extends 'base2.html.twig' %}
{% block active2 %}active-menu{% endblock %}
{% block Header %}
    <div class="col-md-12">

    <ol class="breadcrumb">
        <li><a href="{{ path('admin') }}">Inicio</a></li>
        <li><a href="{{ path('doctores') }}">Doctores</a></li>
        <li class="active">Nuevo Doctor Externo</li>
    </ol>
    <h2>Creando un nuevo doctor externo a FOUES</h2>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos Personales
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Datos Complementarios</h3>

                            <form role="form" action="{{ path('nuevo_doctor_ext', {'id': 'x'}) }}" method="post" >
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombres </label>
                                            <input class="form-control" name="nombre_doc"  />
                                    </div>
                                    <div class="form-group">
                                        <label>Especialidad</label>
                                            <input class="form-control" name="especialidad" />
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">Turno</label>
                                        <input class="form-control" name="turno" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Apellidos </label>
                                            <input class="form-control" name="apellido_doc"  />
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledSelect">DUI</label>
                                            <input class="form-control" name="dui" type="text"/>
                                    </div>

                                </div>
                                <div class="col-md-12 col-md-offset-4">
                                    <button type="submit" style="width: 30%;" class="btn btn-primary">Guardar Doctor</button>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>

{% endblock %}
