{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block body %}
<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active"><a href="{{ path('interesado') }}">Inicio</a></li>
        
    </ol>
    <h2>Bienvenido Interesado</h2>
    <br/>
    <div>
    </div>
</div>
{% endblock %}