{% extends 'base3.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}


{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin') }}">Inicio</a></li>
            <li class="active">Ayuda </li>
        </ol>
        <h2>Ayuda al usuario administrativo</h2>
    </div>
{% endblock %}

{% block body %}
    <form class="form-horizontal"  enctype="multipart/form-data" name="formulario">
        <fieldset>
            <div class="col-md-12">
                <div align="center" style="border:4px solid mediumpurple; padding: 15px" id="mensajePrincipal" >
                    <strong>¿Necesitas ayuda acerca de ?</strong>
                </div>
            </div>

            <div class="col-md-6">
                <div class="control-group">
                    <div class='section' id='apartado-menu1'>

                            <p><strong>Pregunta 1 : ¿Como agregar un usuario ?</strong><br>(<a href="#" id="alternar-respuesta-ej1">ver respuesta</a>)
                            <div id="respuesta-ej1" style="display:none">
                                <dl>
                                    <ol>
                                    <dt>Desde el Panel del Administrador se debe realizar los siguientes pasos:</dt><br>
                                        <li value="1"> Panel del Adminitrador / clic en el boton:   Usuarios</li>
                                        <li> En la ventana: Usuarios / clic en el boton:   +Agregar Nuevo Usuario</li>
                                        <li> En la ventana: Nuevo Usuario:</li>
                                        <ul> a) Agregar los datos correpodientes en datos personales</ul>
                                        <ul> b) Agregar el nombre de usuario y su password para este usuario nuevo</ul>
                                        <ul> c) Seleccionar un tipo de usuario realizar lo siguiente:
                                            <ol>
                                                <li type="circle"> Administrador </li>
                                                <li type="circle"> Tutor</li>
                                                <li type="circle"> Secretaria</li>
                                                <li type="circle"> Director</li>
                                            </ol>
                                        </ul>
                                        <li> Al finalizar dar clic en el boton: Guardar Usuario</li>
                                    </ol>
                                </dl>
                            </div>

                        <p><strong>Pregunta 2 :
                                <br> ¿Quiero cambiar un dato personal de un usuario en especifico?
                                <br> ¿Como se hace para editar un usuario ?
                                <br> Esto es diferente a editar el paswoord y nombre de usuario
                            </strong><br>(<a href="#" id="alternar-respuesta-ej2">ver respuesta</a>)
                        <div id="respuesta-ej2" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel del Administrador se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Adminitrador / clic en el boton:   Usuarios</li>
                                    <li> En la ventana: Usuarios
                                        <ol> Si en la tabla existe muchos usuarios:
                                            <ol>
                                                <li type="circle"> Existe un cuadro de texto llamado: Buscar:
                                                <br> ( esta posicionado en la tabla - superior derecha )
                                                </li>
                                                <li type="circle"> digite una palabra significativa para localizarlo</li>
                                            </ol>
                                        </ol>
                                    </li>
                                    <li> Siempre en la ventana: Usuarios
                                        <ol>
                                            - Una vez localizado el usuario, clic en el boton: Editar
                                            <br> ( Es una figura de un lapiz dentro de un cuadro azul )
                                            <br> localizado en el cuadro de acciones a la posicion derecha final del registro.
                                        </ol>
                                    </li>
                                    <li> En la ventana: Editar Usuario se puede realizar:</li>
                                    <ul> a) Editar los datos correpodientes en datos personales y</ul>
                                    <ul> b) Seleccionar un tipo de nuevo de usuario:
                                        <ol>
                                            <li type="circle"> Administrador </li>
                                            <li type="circle"> Tutor</li>
                                            <li type="circle"> Secretaria</li>
                                            <li type="circle"> Director</li>

                                            QUIEN LO HAYA HECHO EN REALIDAD SOLO PUEDE CAMBIAR A ADMINISTRADOR O DOCENTE
                                            /////DOCENTE NO EXISTE - ESO CREO////

                                        </ol>
                                    </ul>

                                    <li> Al finalizar dar clic en el boton: Guardar Usuario , para actualizar los datos</li>
                                </ol>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-6">
                <div class="control-group">
                    <div class='section' id='apartado-menu2'>

                        <p><strong>Pregunta 3 :
                                <br> ¿Quiero cambiar el passwoord de un usuario en especifico?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej3">ver respuesta</a>)
                        <div id="respuesta-ej3" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel del Administrador se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Adminitrador / clic en el boton:   Usuarios</li>
                                    <li> En la ventana: Usuarios
                                        <ol> Si en la tabla existe muchos usuarios:
                                            <ol>
                                                <li type="circle"> Existe un cuadro de texto llamado: Buscar:
                                                    <br> ( esta posicionado en la tabla - superior derecha )
                                                </li>
                                                <li type="circle"> digite una palabra significativa para localizarlo</li>
                                            </ol>
                                        </ol>
                                    </li>
                                    <li> Siempre en la ventana: Usuarios
                                        <ol>
                                            - Una vez localizado el usuario, clic en el boton: Cambiar Paswoord
                                            <br> ( Es una figura de un maletin dentro de un cuadro naranja )
                                            <br> localizado en el cuadro de acciones a la posicion derecha final del registro.
                                        </ol>
                                    </li>
                                    <li> En la ventana: Cambiar Contraseña se puede realizar:</li>
                                    <ul>  Editar el password del usuario seleccionado</ul>

                                    <li> Al finalizar dar clic en el boton: Guardar Cambio , para actualizar los datos</li>
                                    <li> Para cancelar clic en el boton: Usuarios , o retrocer o atras con el navegador </li>
                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 4 :
                                <br> ¿Quiero eliminar un usuario en especifico?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej4">ver respuesta</a>)
                        <div id="respuesta-ej4" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel del Administrador se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Adminitrador / clic en el boton:   Usuarios</li>
                                    <li> En la ventana: Usuarios
                                        <ol> Si en la tabla existe muchos usuarios:
                                            <ol>
                                                <li type="circle"> Existe un cuadro de texto llamado: Buscar:
                                                    <br> ( esta posicionado en la tabla - superior derecha )
                                                </li>
                                                <li type="circle"> digite una palabra significativa para localizarlo</li>
                                            </ol>
                                        </ol>
                                    </li>
                                    <li> Siempre en la ventana: Usuarios
                                        <ol>
                                            - Una vez localizado el usuario, clic en el boton: Eliminar
                                            <br> ( Es una figura de un basurero dentro de un cuadro rojo )
                                            <br> localizado en el cuadro de acciones a la posicion derecha final del registro.
                                        </ol>
                                    </li>
                                    <li> Aqui a seleccion debe escoger
                                        <br> Aceptar o Enter para eliminar / Cancelar o Esc para suspender la eliminacion
                                    </li>
                                </ol>
                            </dl>
                        </div>


                    </div>
                </div>
            </div>
        </fieldset>
    </form>

{%endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $('#alternar-respuesta-ej1').on('click',function(){
            $('#respuesta-ej1').toggle('800');
        });

        $('#alternar-respuesta-ej2').on('click',function(){
            $('#respuesta-ej2').toggle('900');
        });

        $('#alternar-respuesta-ej3').on('click',function(){
            $('#respuesta-ej3').toggle('700');
        });

        $('#alternar-respuesta-ej4').on('click',function(){
            $('#respuesta-ej4').toggle('700');
        });

    });
</script>


{% endblock %}