{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}


{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('alumno') }}">Inicio</a></li>
            <li class="active">Ayuda </li>
        </ol>
        <h2>Ayuda al usuario alumno</h2>
    </div>
{% endblock %}

{% block body %}
    <form class="form-horizontal"  enctype="multipart/form-data" name="formulario">
        <fieldset>
            <div class="col-md-12">
                <div align="center" style="border:4px solid mediumpurple; padding: 15px" id="mensajePrincipal" >
                    <strong>¿Necesitas ayuda acerca de ?</strong>
                </div>
            </div>

            <div class="col-md-6">
                <div class="control-group">
                    <div class='section' id='apartado-menu1'>

                        <p><strong>Pregunta 1 : ¿Como se hace para ver los Cursos ?</strong><br>(<a href="#" id="alternar-respuesta-ej1">ver respuesta</a>)
                        <div id="respuesta-ej1" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel del Alumno se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Alumno / clic en el boton:   Cursos</li>

                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 2 :
                                <br> ¿Quiero cambiar o agregar un dato en especifico de mi perfil?
                                <br> ¿Como se hace para editar o llenar mi perfil ?
                                <br> El sistema por defecto no permite cambiar el nombre o nombre usuario con el que ingresa al sistema
                            </strong><br>(<a href="#" id="alternar-respuesta-ej2">ver respuesta</a>)
                        <div id="respuesta-ej2" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel del Alumno se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Alumno / clic en el boton:   Mi perfil</li>
                                    <li> En la ventana: Mi perfil se puede realizar:</li>
                                    <ul>  Editar los siguientes datos :
                                        <ol>
                                            <li type="circle"> DUI, NIT, Fecha de nacimiento, Estado Civil, correo, Telefono movil y particular, Direccion </li>
                                            <li type="circle"> Lugar, Telefono, Lugar y Direccion  de Trabajo</li>
                                            <ul >Nota: para los numero de telefono utilizar el formato de 8 digitos mas un separador "-", ej. ####-####</ul>
                                        </ol>
                                    </ul>
                                    <li> Al finalizar dar clic en el boton: Guardar, para actualizar los datos</li>
                                </ol>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-6">
                <div class="control-group">
                    <div class='section' id='apartado-citas'>

                        <p><strong>Pregunta 3 :
                                <br> ¿Como puedo Agregar una cita a mi lista de citas?
                                <br> ¿Solicitar un cita para inscribirme a un Curso que me intersa?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej3">ver respuesta</a>)
                        <div id="respuesta-ej3" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel Alumno se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Alumno / clic en el boton:   Citas</li>
                                    <li> En la ventana: Lista de citas / clic en el boton: Agregar Nueva Cita</li>
                                    PENDIENTE
                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 4 :
                                <br> ¿Puedo ver los cursos activos que estoy incrito actualmente?
                                <br> ¿Cuales cursos inscritos tengo actualmente?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej4">ver respuesta</a>)
                        <div id="respuesta-ej4" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel del Alumno se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Alumno / clic en el boton:  Cursos Inscritos</li>
                                    <li> En la ventana:</li>

                                </ol>
                            </dl>
                        </div>


                    </div>
                </div>
            </div>
        </fieldset>
    </form>

{%endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#alternar-respuesta-ej1').on('click',function(){
                $('#respuesta-ej1').toggle('800');
            });

            $('#alternar-respuesta-ej2').on('click',function(){
                $('#respuesta-ej2').toggle('900');
            });

            $('#alternar-respuesta-ej3').on('click',function(){
                $('#respuesta-ej3').toggle('700');
            });

            $('#alternar-respuesta-ej4').on('click',function(){
                $('#respuesta-ej4').toggle('700');
            });

        });
    </script>


{% endblock %}