{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}


{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('director') }}">Inicio</a></li>
            <li class="active">Ayuda </li>
        </ol>
        <h2>Ayuda director</h2>
    </div>
{% endblock %}

{% block body %}
    <form class="form-horizontal"  enctype="multipart/form-data" name="formulario">
        <fieldset>
            <div class="col-md-12">
                <div align="center" style="border:4px solid mediumpurple; padding: 15px" id="mensajePrincipal" >
                    <strong>¿Necesitas ayuda acerca de ?</strong>
                </div>
            </div>

            <div class="col-md-6">
                <div class="control-group">
                    <div class='section' id='apartado-menu1'>

                        <p><strong>Pregunta 1 :
                                <br>¿Como agregar un nuevo docente, tutor o asistente ?
                                <br>¿Como agregar una persona a la lista de docentes , tutores, asistentes, etc. que imparten los cursos de Postgrados?
                                <br>¿Estos usuarios son los ingresados al sistema  pero que datos se solicita?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej1">ver respuesta</a>)
                        <div id="respuesta-ej1" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel del Director se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Director / clic en el boton:   Usuarios Tutores </li>
                                    <li> En la ventana: Usuarios / clic en el boton:   +Agregar Nuevo Usuario</li>
                                    <li> En la ventana: Nuevo Usuario, se debe colocar:</li>
                                    <ul> a) Los datos Complementarios solicitados son:
                                        <ol>
                                            <li type="circle" >Nombre, Apellido, Correo, DUI, Especilidad y Turno que imparte, Telefono</li>
                                            <li type="circle" >El acceso que se concede es de tipo academico, correspondientemente, estos permisos son establecidos al crear y asignarle un cursos</li>
                                        </ol>
                                    </ul>

                                    <ul> b) Siempre en datos complementarios se debe de asignar un nombre de Usuario y paswoord para que el tenga acceso al sistema</ul>
                                    <li> Al finalizar dar clic en el boton: Guardar Usuario</li>
                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 2 :
                                <br> ¿Quiero cambiar un dato de un usuario en especifico?
                                <br> ¿Como se hace para editar un usuario ?
                                <br> No se puede editar el paswoord y nombre de usuario, se debe de solicitar al administrador que lo realice
                            </strong><br>(<a href="#" id="alternar-respuesta-ej2">ver respuesta</a>)
                        <div id="respuesta-ej2" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel del Director se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Director / clic en el boton:   Usuarios Tutores</li>
                                    <li> En la ventana: Usuarios
                                        <ol> Si en la tabla existe muchos usuarios:
                                            <ol>
                                                <li type="circle"> Existe un cuadro de texto llamado: Buscar:
                                                    <br> ( esta posicionado en la tabla - superior derecha )
                                                </li>
                                                <li type="circle"> digite una palabra significativa para localizarlo</li>
                                            </ol>
                                        </ol>
                                    </li>
                                    <li> Siempre en la ventana: Usuarios
                                        <ol>
                                            - Una vez localizado el usuario, clic en el boton: Editar
                                            <br> ( Es una figura de un lapiz dentro de un cuadro azul )
                                            <br> localizado en el cuadro de acciones a la posicion derecha final del registro.
                                        </ol>
                                    </li>
                                    <li> En la ventana: Editar Usuario se puede realizar:</li>
                                    <ul> Editar los datos correpodientes en datos Complementarios:
                                        <ol>
                                            <li type="circle"> Nombre y apellido del usuario, telefono </li>
                                            <li type="circle"> Correo, DUI</li>
                                        </ol>
                                    </ul>

                                    <li> Al finalizar dar clic en el boton: Actualizar Usuario, para realizar los cambios</li>
                                </ol>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-6">
                <div class="control-group">
                    <div class='section' id='apartado-menu2'>

                        <p><strong>Pregunta 3 :
                                <br> ¿Quiero cambiar el passwoord de un usuario en especifico?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej3">ver respuesta</a>)
                        <div id="respuesta-ej3" style="display:none">
                            <dl>
                                <li> Esta peticion no es posible, ya que los unicos que tiene acceso es el mismo usuario y el administrador del sistema para realizarlo</li>
                            </dl>
                        </div>

                        <p><strong>Pregunta 4 :
                                <br> ¿Como puedo cambiar mi passwoord ?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej4">ver respuesta</a>)
                        <div id="respuesta-ej4" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel del Director se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Director / clic en el boton:   Cambiar Contraseña</li>
                                    <li> En la ventana: Cambiar Contraseña, se debe de hacer:
                                        <ul type="circle" > Introducir el nuevo password en <br>los cuadros de Password y confirmar Password</ul>
                                    </li>
                                    <li> Al finalizar dar clic en el boton: Guardar Cambio, para realizar los cambios</li>

                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 5 :
                                <br> ¿Quiero eliminar un usuario en especifico que esta en la lista ?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej5">ver respuesta</a>)
                        <div id="respuesta-ej5" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel del Director se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Director / clic en el boton:   Usuarios Tutores</li>
                                    <li> En la ventana: Usuarios
                                        <ol> Si en la tabla existe muchos usuarios:
                                            <ol>
                                                <li type="circle"> Existe un cuadro de texto llamado: Buscar:
                                                    <br> ( esta posicionado en la tabla - superior derecha )
                                                </li>
                                                <li type="circle"> digite una palabra significativa para localizarlo</li>
                                            </ol>
                                        </ol>
                                    </li>
                                    <li> Siempre en la ventana: Usuarios
                                        <ol>
                                            - Una vez localizado el usuario, clic en el boton: Eliminar
                                            <br> ( Es una figura de un basurero dentro de un cuadro rojo )
                                            <br> localizado en el cuadro de acciones a la posicion derecha final del registro.
                                        </ol>
                                    </li>
                                    <li> Aqui a seleccion debe escoger
                                        <br> Aceptar o Enter para eliminar / Cancelar o Esc para suspender la eliminacion
                                    </li>
                                </ol>
                            </dl>
                        </div>


                    </div>
                </div>
            </div>
        </fieldset>
    </form>

{%endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#alternar-respuesta-ej1').on('click',function(){
                $('#respuesta-ej1').toggle('800');
            });

            $('#alternar-respuesta-ej2').on('click',function(){
                $('#respuesta-ej2').toggle('900');
            });

            $('#alternar-respuesta-ej3').on('click',function(){
                $('#respuesta-ej3').toggle('700');
            });

            $('#alternar-respuesta-ej4').on('click',function(){
                $('#respuesta-ej4').toggle('700');
            });

            $('#alternar-respuesta-ej5').on('click',function(){
                $('#respuesta-ej5').toggle('700');
            });
        });
    </script>


{% endblock %}