{% extends 'base2.html.twig' %}
{% block active %}active-menu{% endblock %}
{% block styles %}
    <link href="{{ asset('public/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet"/>
{% endblock %}


{% block Header %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('secretaria') }}">Inicio</a></li>
            <li class="active">Ayuda </li>
        </ol>
        <h2>Ayuda secretaria</h2>
    </div>
{% endblock %}

{% block body %}
    <form class="form-horizontal"  enctype="multipart/form-data" name="formulario">
        <fieldset>
            <div class="col-md-12">
                <div align="center" style="border:4px solid mediumpurple; padding: 15px" id="mensajePrincipal" >
                    <strong>¿Necesitas ayuda acerca de ?</strong>
                </div>
            </div>

            <div class="col-md-6">
                <div class="control-group">
                    <div class='section' id='apartado-administrarCursos'>

                        <br>
                        <div align="center" style="border:4px solid peru; padding: 15px" id="mensajeSeccion1" >
                            <strong>Seccion de Cursos</strong>
                        </div>

                        <p><strong>Pregunta 1 :
                                <br>¿Como agregar un nuevo Curso para que este sea publicado?
                                <br>¿Pero que datos se solicita?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej1">ver respuesta</a>)
                        <div id="respuesta-ej1" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Secretaria se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Secretaria / clic en el menu:   Curso / clic en el boton: Adminitrar Cursos </li>
                                    <li> En la ventana: Cursos / clic en el boton:   Agregar Nuevo Curso</li>
                                    <li> En la ventana: Crear Nuevo Curso
                                        <br> se debe colocar dos cosas datos de nuevo cursos y los horarios correpondientes:</li>
                                    <ul> a) Los datos Nuevo Cursos:
                                        <ol>
                                            <li type="circle" > Nombre del Cursos, Descripcion o informacion del cursos </li>
                                            <li type="circle" > Cantidad de alumnos - este valor no puede ser menor que 8 personas </li>
                                            <li type="circle" > Tipo de curso estos puede ser:
                                                    <ol>
                                                        <li type="circle"> Diplomado, Curso, Especialidad, Doctorado o  Maestria </li>
                                                    </ol>
                                             </li>
                                            <li type="circle" > Numero de cuotas - no puede ser menor que 1 </li>
                                            <li type="circle" > Broschure de Información - este campo solicita imagen, <br> para que los usuarios interesados lo vean</li>
                                            <li type="circle" > Archivo PDF - este campo solicita pdf, <br> es la version del broschure anterior en .pdf,  para que los usuarios interesados lo vean</li>
                                            <li type="circle" > Asignar Doctores al Curso - se debe de seleccionar las personas correspondiente que estan en el sistema prestando servicios a la Escuela de Postgrado
                                            <br> Estos usuarios o doctores/docentes/Encargados son agregados por el usuario Director, son los responsable de impartir este nuevo curso
                                            </li>
                                        </ol>
                                    </ul>

                                    <ul> b) Los datos de Crear Horarios para Curso:
                                        <ol>
                                            <li type="circle" > Fecha Inicio Curso - es la fecha cuando el curso comienza sus clases y demas actividades, no puede ser menor de la Fecha Fin de Curos</li>
                                            <li type="circle" > Fecha Inicio Recepcion Documentos - esta fecha no puede ser despues Fecha Fin de Recepcion de Documentos</li>
                                            <li type="circle" > Fecha Inicio Entrevistas - esta fecha no puede ser antes de la Fecha Fin de Entrevistas </li>
                                            <li type="circle" > Fecha Inicio Evaluacion - esta fecha no puede ser antes de la Fecha Fin de Evaluacion </li>
                                            <li type="circle" > Fecha Fin de curso - esta fecha indicada para la finalizacion cursos, evaluaciones y actividades en su totalidad, no puede ser menor a la Fecha Inicio de Curso</li>
                                            <li type="circle" > Fecha Fin Recepcion de Documentos - esta fecha debe ser mayor a la Fecha de Inicio Recepcion de documentos</li>
                                            <li type="circle" > Fecha Fin Entrevistas - esta fecha debe ser mayor a la Fecha Inicio de Entrevistas </li>
                                            <li type="circle" > Fecha Fin Evaluacion - esta fecha debe ser a la Fecha Inicio Evalacion </li>
                                        </ol>
                                    </ul>
                                    <li> Al finalizar dar clic en el boton: Guardar </li>
                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 2 :
                                <br> ¿Quiero cambiar un dato de un curso en especifico?
                                <br> ¿Como se hace para editar un curso ?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej2">ver respuesta</a>)
                        <div id="respuesta-ej2" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel Secretaria se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Secretaria / clic en el menu:   Curso / clic en el boton: Adminitrar Cursos</li>
                                    <li> En la ventana: Cursos
                                        <ol> Si en la tabla existe muchos cursos:
                                            <ol>
                                                <li type="circle"> Existe un cuadro de texto llamado: Buscar:
                                                    <br> ( esta posicionado en la tabla - superior derecha )
                                                </li>
                                                <li type="circle"> digite una palabra significativa para localizarlo</li>
                                            </ol>
                                        </ol>
                                    </li>
                                    <li> Siempre en la ventana: Cursos
                                        <ol>
                                            - Una vez localizado el usuario, clic en el boton: Editar
                                            <br> ( Es una figura de un lapiz dentro de un cuadro azul )
                                            <br> localizado en el cuadro de acciones a la posicion derecha final del registro.
                                        </ol>
                                    </li>
                                    <li> En la ventana: Editar Curso se puede realizar:</li>
                                        <ul> Editar los datos correpodientes en datos Complementarios:
                                            <ul> a) Los datos Nuevo Cursos:
                                                <ol>
                                                    <li type="circle" > Nombre del Cursos, Descripcion o informacion del cursos </li>
                                                    <li type="circle" > Cantidad de alumnos - este valor no puede ser menor que 8 personas </li>
                                                    <li type="circle" > Tipo de curso estos puede ser:
                                                        <ol>
                                                            <li type="circle"> Diplomado, Curso, Especialidad, Doctorado o  Maestria </li>
                                                        </ol>
                                                    </li>
                                                    <li type="circle" > Numero de cuotas - no puede ser menor que 1 </li>
                                                    <li type="circle" > Broschure de Información - este campo solicita imagen, <br> para que los usuarios interesados lo vean</li>
                                                    <li type="circle" > Archivo PDF - este campo solicita pdf, <br> es la version del broschure anterior en .pdf,  para que los usuarios interesados lo vean</li>
                                                    <li type="circle" > Asignar Doctores al Curso - se debe de seleccionar las personas correspondiente que estan en el sistema prestando servicios a la Escuela de Postgrado
                                                        <br> Estos usuarios o doctores/docentes/Encargados son agregados por el usuario Director, son los responsable de impartir este nuevo curso
                                                    </li>
                                                </ol>
                                            </ul>

                                            <ul> b) Los datos de Crear Horarios para Curso:
                                                <ol>
                                                    <li type="circle" > Fecha Inicio Curso - es la fecha cuando el curso comienza sus clases y demas actividades, no puede ser menor de la Fecha Fin de Curos</li>
                                                    <li type="circle" > Fecha Inicio Recepcion Documentos - esta fecha no puede ser despues Fecha Fin de Recepcion de Documentos</li>
                                                    <li type="circle" > Fecha Inicio Entrevistas - esta fecha no puede ser antes de la Fecha Fin de Entrevistas </li>
                                                    <li type="circle" > Fecha Inicio Evaluacion - esta fecha no puede ser antes de la Fecha Fin de Evaluacion </li>
                                                    <li type="circle" > Fecha Fin de curso - esta fecha indicada para la finalizacion cursos, evaluaciones y actividades en su totalidad, no puede ser menor a la Fecha Inicio de Curso</li>
                                                    <li type="circle" > Fecha Fin Recepcion de Documentos - esta fecha debe ser mayor a la Fecha de Inicio Recepcion de documentos</li>
                                                    <li type="circle" > Fecha Fin Entrevistas - esta fecha debe ser mayor a la Fecha Inicio de Entrevistas </li>
                                                    <li type="circle" > Fecha Fin Evaluacion - esta fecha debe ser a la Fecha Inicio Evalacion </li>
                                                </ol>
                                            </ul>

                                        </ul>
                                    <li> Al finalizar dar clic en el boton: Guardar, para realizar los cambios</li>
                                </ol>
                            </dl>
                        </div>


                        <p><strong>Pregunta 3 :
                                <br> ¿Quiero eliminar un Curso en especifico que esta en la lista ?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej3">ver respuesta</a>)
                        <div id="respuesta-ej3" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Secretaria se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Secretaria / clic en el menu:   Curso / clic en el boton: Adminitrar Cursos</li>
                                    <li> En la ventana: Cursos
                                        <ol> Si en la tabla existe muchos cursos:
                                            <ol>
                                                <li type="circle"> Existe un cuadro de texto llamado: Buscar:
                                                    <br> ( esta posicionado en la tabla - superior derecha )
                                                </li>
                                                <li type="circle"> digite una palabra significativa para localizarlo</li>
                                            </ol>
                                        </ol>
                                    </li>
                                    <li> Siempre en la ventana: Cursos
                                        <ol>
                                            - Una vez localizado el curso, clic en el boton: Eliminar
                                            <br> ( Es una figura de un basurero dentro de un cuadro rojo )
                                            <br> localizado en el cuadro de acciones a la posicion derecha final del registro.
                                        </ol>
                                    </li>
                                    <li> Aqui a seleccion debe escoger
                                        <br> Aceptar o Enter para eliminar / Cancelar o Esc para suspender la eliminacion
                                    </li>
                                </ol>
                            </dl>
                        </div>

                    </div>


                    <div class='section' id='apartado-tutoresDisponibles'>
                        <br>
                        <div align="center" style="border:4px solid peru; padding: 15px" id="mensajeSeccion2" >
                            <strong>Seccion Tutores Disponibles</strong>
                        </div>
                    </div>

                    <div class='section' id='apartado-horarioEntrevistas'>
                        <br>
                            <div align="center" style="border:4px solid peru; padding: 15px" id="mensajeSeccion3" >
                            <strong>Seccion Horario de Entrevistas </strong>
                        </div>

                        <p><strong>Pregunta 4 :
                                <br> ¿Como agregar un Horario - Fecha y Hora - ya sea para un evaluado o una cita, a un curso, ya creado ?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej4">ver respuesta</a>)
                        <div id="respuesta-ej4" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Secretaria se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Secretaria / clic en el boton: Horario de Entrevistas</li>
                                    <li> En la Ventana: Asignado Hora de Entrevista a Curso
                                    <br> Se debe de seleccionar y colocar los siguientes datos:
                                    </li>
                                        <ol>
                                            <li type="circle" > Curso - si existen cursos creados, se debe seleccionar un curso disponible </li>
                                            <li type="circle" > Fecha de Entrevista - marca la fecha de inicio de entrevistas para el curso</li>
                                            <li type="circle" > Hora de entrevista - marca la hora de inicio de entrevistas para el curso , pero solo puede ser horas habiles de trabajo</li>
                                            <li type="circle" > Tipo de Horario puede ser:
                                                <ol>Evaluado o Cita </ol>
                                            </li>
                                        </ol>
                                    <li> Al finalizar dar clic en el boton: Guardar, para realizar los cambios</li>
                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 5 :
                                <br> ¿Quiero cambiar un dato de un Horario en especifico - ya sea para un evaluado o una cita?
                                <br> ¿Como se hace para editar un Horario - ya sea para un evaluado o una cita ?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej5">ver respuesta</a>)
                        <div id="respuesta-ej5" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Secretaria se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Secretaria / clic en el boton: Horario de Entrevistas</li>
                                    <li> En la Ventana: Asignado Hora de Entrevista a Curso
                                        <br> Se debe de seleccionar y colocar los siguientes datos:
                                        <ol> Si en la tabla existe muchos horarios:
                                            <ol>
                                                <li type="circle"> Existe un cuadro de texto llamado: Buscar:
                                                    <br> ( esta posicionado en la tabla - superior derecha )
                                                </li>
                                                <li type="circle"> digite una palabra significativa para localizarlo</li>
                                            </ol>
                                        </ol>
                                    </li>
                                    <li> Siempre en la ventana: Asignado Hora de Entrevista a Curso
                                        <ol>
                                            - Una vez localizado el usuario, clic en el boton: Editar
                                            <br> ( Es una figura de un lapiz dentro de un cuadro azul )
                                            <br> localizado en el cuadro de acciones a la posicion derecha final del registro.
                                        </ol>
                                    </li>
                                    <li> En la ventana: Editar Hora de Entrevista, se puede realizar:
                                        <ol>
                                            <li type="circle" > Fecha de Entrevista - marca la fecha de inicio de entrevistas para el curso</li>
                                            <li type="circle" > Hora de entrevista - marca la hora de inicio de entrevistas para el curso , pero solo puede ser horas habiles de trabajo</li>
                                            <li type="circle" > Tipo de Horario puede ser:
                                                <ol>Evaluado o Cita </ol>
                                            </li>
                                    </ol>
                                    </li>
                                    <li> Al finalizar dar clic en el boton: Guardar, para realizar los cambios</li>
                                </ol>
                            </dl>
                        </div>


                        <p><strong>Pregunta 6 :
                                <br> ¿Quiero eliminar un Horario en especifico - ya sea para un evaluado o una cita?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej6">ver respuesta</a>)
                        <div id="respuesta-ej6" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Secretaria se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Secretaria / clic en el boton: Horario de Entrevistas</li>
                                    <li> En la ventana: Horarios de Entrevistas Asignados a Cursos
                                        <ol> Si en la tabla existe muchos horarios:
                                            <ol>
                                                <li type="circle"> Existe un cuadro de texto llamado: Buscar:
                                                    <br> ( esta posicionado en la tabla - superior derecha )
                                                </li>
                                                <li type="circle"> digite una palabra significativa para localizarlo</li>
                                            </ol>
                                        </ol>
                                    </li>
                                    <li> Siempre en la ventana: Horarios de Entrevistas Asignados a Cursos
                                        <ol>
                                            - Una vez localizado el horario, clic en el boton: Eliminar
                                            <br> ( Es una figura de un basurero dentro de un cuadro rojo )
                                            <br> localizado en el cuadro de acciones a la posicion derecha final del registro.
                                        </ol>
                                    </li>
                                    <li> Aqui a seleccion debe escoger
                                        <br> Aceptar o Enter para eliminar / Cancelar o Esc para suspender la eliminacion
                                    </li>
                                </ol>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-6">
                <div class="control-group">



                    <div class='section' id='apartado-GestiondeAlumnos'>

                        <br>
                        <div align="center" style="border:4px solid peru; padding: 15px" id="mensajeSeccion1" >
                            <strong>Seccion Gestion de alumnos</strong>
                        </div>

                        <p><strong>Pregunta 7 :
                                <br>¿Como agregar o crear un nuevo Alumno?
                                <br>¿Que debo de saber para procesarlo?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej7">ver respuesta</a>)
                        <div id="respuesta-ej7" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Secretaria se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Secretaria / clic en el menu:  Gestion de Alumnos / clic en el boton: Crear Alumno </li>
                                    <li> En la ventana: Cursos / clic en el boton:   Agregar Nuevo Curso</li>
                                    <li> En la ventana: Agregar nuevo alumno
                                        <br> se debe colocar los datos correpondientes:</li>

                                    <li> Al finalizar dar clic en el boton: Guardar </li>
                                </ol>
                            </dl>
                        </div>

                        <p><strong>Pregunta 8 :
                                <br> ¿Quiero ver o editar los alumnos, existentes en el sistema?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej8">ver respuesta</a>)
                        <div id="respuesta-ej8" style="display:none">
                            <dl>

                            </dl>
                        </div>


                        <p><strong>Pregunta 9 :
                                <br> ¿Quiero eliminar un Alumno en especifico que esta en la lista ?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej9">ver respuesta</a>)
                        <div id="respuesta-ej9" style="display:none">
                            <dl>

                            </dl>
                        </div>
                    </div>



                    <div class='section' id='apartado-solicitudEntrevista'>

                        <br>
                        <div align="center" style="border:4px solid peru; padding: 15px" id="mensajeSeccion1" >
                            <strong>Seccion Solicitud de Entrevista</strong>
                        </div>

                        <p><strong>Pregunta 10 :
                                <br> ¿Como puedo ver las solicitudes de citas realizados por los interesados?
                                <br> ¿Procesar solicitudes que quieren aplicar a un cursos activo?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej10">ver respuesta</a>)
                        <div id="respuesta-ej10" style="display:none">
                            <dl>

                            </dl>
                        </div>
                    </div>



                    <div class='section' id='apartado-CambiarContraseña'>

                        <br>
                        <div align="center" style="border:4px solid peru; padding: 15px" id="mensajeSeccion1" >
                            <strong>Seccion de Cambiar Contraseña</strong>
                        </div>

                        <p><strong>Pregunta 15 :
                                <br> ¿Como puedo cambiar mi contraseña ?
                            </strong><br>(<a href="#" id="alternar-respuesta-ej15">ver respuesta</a>)
                        <div id="respuesta-ej15" style="display:none">
                            <dl>
                                <ol>
                                    <dt>Desde el Panel de Secretaria se debe realizar los siguientes pasos:</dt><br>
                                    <li value="1"> Panel Secretaria / clic en el boton:   Cambiar Contraseña</li>
                                    <li> En la ventana: Cambiar Contraseña, se debe de hacer:
                                        <ul type="circle" > Introducir el nuevo password en <br>los cuadros de Password y confirmar Password</ul>
                                    </li>
                                    <li> Al finalizar dar clic en el boton: Guardar Cambio, para realizar los cambios</li>

                                </ol>
                            </dl>
                        </div>
                    </div>


                </div>
            </div>
        </fieldset>
    </form>

{%endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#alternar-respuesta-ej1').on('click',function(){
                $('#respuesta-ej1').toggle('800');
            });

            $('#alternar-respuesta-ej2').on('click',function(){
                $('#respuesta-ej2').toggle('900');
            });

            $('#alternar-respuesta-ej3').on('click',function(){
                $('#respuesta-ej3').toggle('700');
            });

            $('#alternar-respuesta-ej4').on('click',function(){
                $('#respuesta-ej4').toggle('700');
            });

            $('#alternar-respuesta-ej5').on('click',function(){
                $('#respuesta-ej5').toggle('700');
            });

            $('#alternar-respuesta-ej6').on('click',function(){
                $('#respuesta-ej6').toggle('800');
            });

            $('#alternar-respuesta-ej7').on('click',function(){
                $('#respuesta-ej7').toggle('900');
            });

            $('#alternar-respuesta-ej8').on('click',function(){
                $('#respuesta-ej8').toggle('700');
            });

            $('#alternar-respuesta-ej9').on('click',function(){
                $('#respuesta-ej9').toggle('700');
            });

            $('#alternar-respuesta-ej10').on('click',function(){
                $('#respuesta-ej10').toggle('700');
            });

            $('#alternar-respuesta-ej15').on('click',function(){
                $('#respuesta-ej15').toggle('700');
            });


        });
    </script>


{% endblock %}